Welkom <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "users", :action => "logout" %>
<h1>Nieuwe docent aanmaken</h1>

<%= render 'form' %>

<%= link_to 'Vorige', users_path %>
